body {
    background: linear-gradient(rgb(93, 93, 104), rgb(48, 48, 42));
}

h1,
h2,
h3 {
    text-align: center;
}

iframe {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

button:hover {
    background: transparent;
    cursor: pointer;
}